button,
.button {
    -webkit-appearance: none;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    border-radius: 4px;
    background-color: $cb-background;
    color: $c-white;
    letter-spacing: 0;
    font-family: $ff-defaultBold;
    font-weight: 700;
    @include fsz(24px);
    color: $c-white;
    line-height: 1;
    padding: 17px 30px 15px;
    pointer-events: all;
    cursor: pointer;
    display: inline-block;
    transition: ease 0.25s;
    box-shadow: 0 0 0 0 rgba($c-black, 0.25);

    @media #{$phone} {
        @include fsz(16px);
        padding: 10px 25px;
    }

    @media #{$phone-portrait} {
        padding: 10px 20px;
    }

    &:hover,
    &:focus {
        transition: ease 0.3s;
        color: $c-white;
        box-shadow: 0 20px 25px -5px rgba($c-black, 0.25);
        transform: translate(0, -3px);
    }

    svg {
        display: block;
    }
}

.button--linkedin {
    border: 1px solid #0A66C2;
    color: #0A66C2;
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: #0A66C2;
    }
}


.buttonSpecial {
    color: $c-black;
    text-decoration: none;
    --specialFontSize: clamp(0.6rem, 10vw, 1rem);
    --specialLineHeight: 1;
    font: 700 var(--specialFontSize)/var(--specialLineHeight) var(--ff-defaultBold);
    letter-spacing: -0.2px;
    display: inline-block;

    svg.icon-arrow {
        max-width: 15px;
        max-height: 10px;
        margin-left: 10px;
        transition: all 450ms ease-out;
    }

    &:hover,
    &:focus,
    &:active {
        .button-stroke:nth-child(2) {
            stroke-dashoffset: 0;
            stroke: $c-black;
        }
        svg.icon-arrow {
            transform: translateX(7px);
            transition: all 250ms ease-out;
        }

        color: $c-black;
        background-color: none !important;
    }

    &__underline {
        display: block;
        position: relative;
        width: 160%;
    }

    &--alt {
        z-index: 1;
        position: relative;
        border-bottom: 2px solid transparent;
        transition: all 250ms ease-out;
        --specialFontSize: clamp(1rem, 2vw, 1.25rem);
        --specialLineHeight: 1;
        letter-spacing: 0;
        font: 700 var(--specialFontSize)/var(--specialLineHeight) var(--ff-defaultBold);

        &:hover {
            border-bottom: 2px solid black;
            transition: all 250ms ease-in;
        }
    }
}

.button-stroke {
    display: block;
    width: 100%;
    height: 20px;
    stroke: $c-white;
    position: absolute;
    left: -10px;
    bottom: -20px;
    stroke-width: 1;

    &:nth-child(2) {
        stroke-dasharray: 650px;
        stroke-dashoffset: 650px;
        stroke: $c-black;
        stroke-width: 2;
        transition: stroke-dashoffset 450ms ease-out;
    }
}

.button--footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 100px;
    font-size: clamp(1.5rem, 4.8vw, 3.75rem);
    font-family: var(--ff-default);
    font-weight: 400;
    letter-spacing: -0.2vw;
    text-shadow: 0 5px 15px rgba($c-black, .25);
    --pt: clamp(.7rem, 1.7vw, 1.625rem);
    --pb: clamp(.75rem, 1.75vw, 1.75rem);
    --ph: clamp(1.5rem, 4.8vw, 5rem);
    padding:  var(--pt) var(--ph) var(--pb);
    background: linear-gradient(180deg, rgba(89,190,255,1) 0%, rgba(42,96,236,1) 100%);
    box-shadow: 0 40px 80px -10px rgba($c-black, .25);
    svg {
        display: block;
        width: clamp(1rem, 3vw, 3.125rem);
        filter: drop-shadow(0 10px 15px rgba($c-black, .25));
        margin-left: clamp(.5rem, 1.56vw, 1.56rem);
        margin-bottom: clamp(.1rem, 1vw, .4rem);
    }
}
