button,
.button {
  -webkit-appearance: none;
  text-decoration: none;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  // background-color: $cb-background;
  color: $c-white;
  letter-spacing: 0;
  font-family: $ff-defaultBold;
  font-weight: 700;
  @include fsz(24px);
  color: $c-white;
  line-height: 1;
  padding: 17px 30px 15px;
  pointer-events: all;
  cursor: pointer;
  display: inline-block;
  transition: ease 0.25s;
  box-shadow: 0 0 0 0 rgba($c-black, 0.25);

  @media #{$phone} {
    @include fsz(16px);
    padding: 10px 25px;
  }

  @media #{$phone-portrait} {
    padding: 10px 20px;
  }

  &:hover,
  &:focus, &:active {
    color: $c-white;
    box-shadow: 0 10px 15px -5px rgba($c-black, 0.25);
    background-color: transparent;
  }

  svg {
    display: block;
  }
}

.button--linkedin {
  border: 1px solid #0a66c2;
  color: #0a66c2;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #0a66c2;
    transform: translate(0, -3px);
  }
}

.button--header {
  @include fsz(16px);
  border-radius: 50px;
  --gd-border: linear-gradient(to right, #111111, rgba(17, 17, 17, 0) 70%);
  color: $c-black;
  position: relative;
  padding: 13px 30px 11px;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --bg-gd: linear-gradient(to right, #111111, rgba(17, 17, 17, 0) 70%);
  background: transparent;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1px;
    background: var(--bg-gd);
    -webkit-mask: linear-gradient(#111111 0 0) content-box,
      linear-gradient(#111111 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    display: block;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: var(--c-brandHome);
    box-shadow: none;
    transition: ease all 0.25s;

    .paperPlane::after {
      transform: translate(0, -5px);
      transition: ease all 0.25s;
    }
  }

  @media #{$phone} {
    padding: 9px 16px 7px;
  }

  .paperPlane {
    position: relative;
    display: block;
    width: 50px;
    height: 16px;

    &::after {
      @include after-element;
      width: 109px;
      height: 96px;
      left: -30%;
      top: -100%;
      transition: ease all 0.3s;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%0A%3Csvg height='104.394835' viewBox='0 0 118.947118 104.394835' width='118.947118' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cfilter id='a' height='113%25' width='116.3%25' x='-8.1%25' y='-6.5%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='-1.64903931 -1.13166662'/%3E%3C/filter%3E%3Cfilter id='b' height='224.5%25' width='171.8%25' x='-35.9%25' y='-62.2%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='7'/%3E%3C/filter%3E%3ClinearGradient id='c'%3E%3Cstop offset='0' stopcolor='%23ff0200'/%3E%3Cstop offset='1' stopcolor='%23ff4fa8'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='113.417119%25' x2='3.574779%25' xlink:href='%23c' y1='41.263366%25' y2='51.988825%25'/%3E%3ClinearGradient id='e' x1='90.036307%25' x2='-8.677535%25' xlink:href='%23c' y1='11.461921%25' y2='78.014112%25'/%3E%3ClinearGradient id='f' x1='60.713235%25' x2='32.383997%25' y1='59.124929%25' y2='22.468893%25'%3E%3Cstop offset='0' stopcolor='%23ff0200'/%3E%3Cstop offset='1' stopcolor='%23f44fff'/%3E%3C/linearGradient%3E%3Cfilter id='g' height='121.6%25' width='115%25' x='-7.5%25' y='-10.8%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='-1.64903931 -1.13166662'/%3E%3C/filter%3E%3Cfilter id='h' height='117.9%25' width='118.2%25' x='-9.1%25' y='-9%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='-1.64903931 -1.13166662'/%3E%3C/filter%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(21 3.3948)'%3E%3Cpath d='m33.0993479 50.0154907 59.900421-50.01516102-60.8170971 52.37903052z' fill='%23fff' filter='url(%23a)' opacity='.633278'/%3E%3Cpath d='m58.5150658 46.2646583-58.5150658 12.981091 13.8260855 7.9709668.6434654.371218 7.7291773-.5555083 3.7274107 7.1602874 10.0732532 5.8072868z' fill='%23000' filter='url(%23b)' opacity='.13256'/%3E%3Cpath d='m38.5716488 37.3687614-5.194604 13.7264941 59.6227241-51.09522253z' fill='%23ab2726'/%3E%3Cpath d='m6.88888889 19.1028911 21.29378291 12.276568 64.8173282-31.3794591z' fill='url(%23d)'/%3E%3Cpath d='m93 .00032968-54.4284502 37.36839872 21.2937829 12.2765681z' fill='url(%23e)'/%3E%3Cpath d='m38.5715498 37.3687284 54.4284502-37.36839872-64.8173282 31.37879972 5.1946041 19.7160931z' fill='url(%23f)'/%3E%3Cg fill='%23fff'%3E%3Cpath d='m27.2351369 30.8330829 65.7648631-30.83285213-64.8173282 31.37912943z' filter='url(%23g)' opacity='.633278'/%3E%3Cpath d='m38.5716819 37.3688933 54.42812-37.36872846-53.5766593 37.85961976z' filter='url(%23h)' opacity='.633278'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

      @media #{$phone} {
        width: 80px;
        left: -20%;
        top: -50%;
      }
    }
  }
}

.mainStatic {
  .button--header {
    --bg-gd: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0) 70%);
    color: $c-white;
    position: relative;
    background: transparent;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50px;
      padding: 1px;
      background: var(--bg-gd);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      display: block;
      top: -1px;
    }
  }
}

.button--headerWhite {
  --bg-gd: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0) 70%);
  color: $c-white;

  &::after {
    background: var(--bg-gd);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  }
}

.buttonSpecial {
  color: $c-black;
  text-decoration: none;
  --specialFontSize: clamp(0.6rem, 10vw, 1rem);
  --specialLineHeight: 1;
  font: 700 var(--specialFontSize) / var(--specialLineHeight)
    var(--sansBold);
  letter-spacing: -0.2px;
  display: inline-block;

  svg.icon-arrow {
    max-width: 15px;
    max-height: 10px;
    margin-left: 10px;
    transition: all 450ms ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    .button-stroke:nth-child(2) {
      stroke-dashoffset: 0;
      stroke: $c-black;
      z-index: 9;
    }

    svg.icon-arrow {
      transform: translateX(7px);
      transition: all 250ms ease-out;
    }

    color: $c-black !important;
    background-color: transparent !important;
  }

  &__underline {
    display: block;
    position: relative;
    width: 145%;
  }
}

.buttonSpecial--down {
  svg.icon-arrow {
    transform: rotate(90deg);
    max-width: 16px;
    max-height: 12px;
  }

  &:hover,
  &:focus,
  &:active {
    svg.icon-arrow {
      transform: rotate(90deg) translateX(-2px);
    }
  }
}

.buttonSpecial--large {
  font-size: clamp(1rem, 2vw, 1.25rem);

  svg.icon-arrow {
    max-width: 22px;
    max-height: 14px;
    margin-left: 10px;
    top: 2px;
    position: relative;
    transition: all 450ms ease-out;

    @media #{$phone} {
      max-width: 15px;
      max-height: 10px;
      top: 0;
    }
  }
}

.button-stroke {
  display: block;
  width: 100%;
  height: 20px;
  stroke: $c-white;
  position: absolute;
  left: -10px;
  bottom: -20px;
  stroke-width: 1;
  z-index: -1;

  &:nth-child(2) {
    stroke-dasharray: 650px;
    stroke-dashoffset: 650px;
    stroke: $c-black;
    stroke-width: 2;
    transition: stroke-dashoffset 450ms ease-out;
  }
}

.button--disabled {
  background-color: $c-white;
  border: 1px solid rgba($c-black, 0.25);
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;

  @media #{$phone} {
    @include fsz(16px);
  }
}

.disabled-button {
  color: rgba($c-black, 0.5);
  font-size: clamp(1rem, 2vw, 1.25rem);
  letter-spacing: -0.025vw;
}
