a {
  color: $c-link;
  @include easeout;

  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $c-linkHover;
    @include easein;
    text-decoration: none;
    background-color: transparent;
  }
}

.workLink {
  display: inline-block;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;

    &::selection {
      background-color: white !important;
    }
  }
  h2, h2 span {
  	&:hover,
  	&:focus,
  	&:active {
  	  background-color: transparent;
  	}
  }
}
