a {
  color: $c-link;
  transition: ease-out all 0.20s;

  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $c-linkHover;
    transition: ease-in all 0.20s;
    text-decoration: none;
    background-color: transparent;
  }
}

.workLink {
  display: inline-block;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;

    &::selection {
      background-color: white !important;
    }
  }
  h2, h2 span {
  	&:hover,
  	&:focus,
  	&:active {
  	  background-color: transparent;
  	}
  }
}
