.billboard {
  padding: 11vw 0;
  --wt: 400;
  --fsz: clamp(3rem, 20.8vw, 18.75rem);
  --lh: .8;
  --font: var(--wt) var(--fsz)/var(--lh) var(--ff-default);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @media #{$phone} {
    padding: 50vw 0 40vw;
  }
}

.billboard__gradient {
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: block;
  left: -12%;
  top: -44%;
  width: clamp(22rem, 53vw, 150rem);
  height: auto;
  filter: blur(100px) saturate(2);
  opacity: .95;
  animation: rotate 6s linear infinite;
  transition: transform ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transition: linear all .3s;
  image-rendering: -webkit-optimize-contrast;
  z-index: -1;

  @media #{$tablet} {
    filter: blur(65px) saturate(2);
  }

  @media #{$phone} {
    filter: blur(35px) saturate(2);
    left: -25%;
    top: -35%;
  }
}

.billboard__title {
  font: var(--font);
  letter-spacing: clamp(-1.25rem, -1.1vw, -1.25rem);
  text-align: left;
  z-index: 999;
  position: relative;
  margin: 0 auto 1vw;
  display: inline-block;

  @media #{$desktop} {
    margin: 0 auto 3vw;
    letter-spacing: clamp(-1.25rem, -1vw, -.75rem);
  }

  @media #{$tablet} {
    letter-spacing: -1.2vw;
    margin: 0 auto 4vw;
  }

  strong {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("data:image/svg+xml,%0A%3Csvg height='140' viewBox='0 0 142 140' width='142' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23111' transform='translate(.964346 .064362)'%3E%3Cpath d='m74.9927427 139.672541 8.707537-.929434-.1805376-1.691392-6.8908567.735523-.5616727-5.262108 5.4291598-.579504-.1783088-1.670511-5.4291598.579504-.4591451-4.301565 6.6820427-.713235-.1805376-1.691392-8.4987232.907146z'/%3E%3Cpath d='m89.9338409 137.040932 1.8830301-.720037 1.1824901-7.197037 5.6827237 4.5719 1.8830302-.720037-7.266386-5.832418 1.2315175-7.597994-1.88303.720037-.8779192 5.641669-4.4377178-3.609063-1.8634151.712537 5.9671494 4.845351z'/%3E%3Cpath d='m106.733928 129.437917 1.512357-1.025039-3.546401-5.232408 2.763963-1.873347c2.29461-1.555232 2.720313-3.771808 1.259338-5.927351-1.449194-2.13816-3.66577-2.563863-5.96038-1.008631l-4.2763198 2.898387zm-2.988391-7.665503-2.792348-4.119869 2.746579-1.861565c1.408057-.954347 2.598819-.619812 3.45891.649177.883654 1.303756.741495 2.516344-.666561 3.470691z'/%3E%3Cpath d='m120.106259 118.724484 5.880209-6.489082-1.260469-1.142199-4.653403 5.135245-3.92146-3.553508 3.666318-4.045951-1.244908-1.128097-3.666317 4.04595-3.205638-2.904851 4.512391-4.979632-1.260469-1.142199-5.739198 6.333469z'/%3E%3Cpath d='m130.172577 105.56015.853803-1.615225-6.163846-3.258188 1.07952-2.0422381 8.214934-.6220643.951941-1.8008826-8.317577.5915609c.559935-1.913082-.052447-3.4957124-1.890461-4.4672805-2.172199-1.1482169-4.152144-.4133078-5.418126 1.9816804l-2.306248 4.3629632zm-6.813873-5.6683325-3.824555-2.0216468 1.423004-2.6920411c.775292-1.4666982 1.799082-1.8756604 3.080122-1.1985068 1.318172.6967812 1.519725 1.7534554.744433 3.2201537z'/%3E%3Cpath d='m137.23748 89.594303.535175-1.7468591-14.055189-4.306005-.535175 1.7468591z'/%3E%3Cpath d='m139.315265 79.3606673.852109-8.7154437-1.692928-.1655175-.674331 6.8971137-5.266887-.5149435.531291-5.4340896-1.672027-.1634742-.531291 5.4340897-4.305471-.4209459.653896-6.6881103-1.692928-.1655176-.831674 8.5064403z'/%3E%3Cpath d='m139.561228 62.7850581-.273472-1.806417-11.419877 1.7288422 10.423435-8.3108444-.304905-2.0140511-14.534389 2.2003446.270328 1.7856536 11.461404-1.7351289-10.461819 8.3378945.304905 2.0140511z'/%3E%3Cpath d='m128.708614 48.0960052c4.416412-2.0078539 5.49117-6.0873553 3.978263-9.204903-1.242492-2.6413583-3.56269-3.8242624-6.316817-3.3641895l.314925 1.7548649c1.998523-.290297 3.568804.4331092 4.462684 2.333367 1.170982 2.4893376.138912 5.1795232-3.243547 6.7706286-3.382459 1.5911055-6.112899.6708014-7.283881-1.8185362-.89388-1.9002578-.449887-3.5711763 1.048064-4.9256176l-1.151038-1.3615578c-2.110534 1.8282585-2.678728 4.3698595-1.436235 7.0112177 1.436896 3.1533029 5.264803 4.9265953 9.627582 2.8047259z'/%3E%3Cpath d='m125.558491 27.4493597-5.576425-6.7519284-1.311525 1.0831904 4.412998 5.3432527-4.080302 3.3699257-3.476908-4.2098355-1.295334 1.0698177 3.476908 4.2098354-3.335485 2.7547806-4.279271-5.181336-1.311526 1.0831904 5.442698 6.5900117z'/%3E%3Cpath d='m112.603738 19.3457992c1.022334-1.9899106.596179-4.5690826-1.384925-6.0576082-1.964316-1.475911-4.45936-1.1966835-5.998344.8515772-1.299306 1.7292693-1.019347 3.3843137.117035 5.472704.725462 1.3068322 1.0734 2.0673355 1.076843 2.9367388.003808.4494035-.14775.8608717-.437886 1.2470192-.592888.789084-1.676648.9729404-2.600044.2791361-.85624-.6433458-1.132665-1.5339868-.829274-2.6719231l-1.759679-.1401323c-.383618 1.6292666.022578 3.0114208 1.567168 4.1719662 1.678902 1.2614624 3.863121 1.0113642 5.111969-.650749 1.160545-1.5445901.914164-3.1744052-.058593-5.061053-.784087-1.5084833-1.14464-2.2521975-1.143817-3.1971971.008806-.4661925.168805-.9238534.48417-1.343579.971326-1.2927547 2.290225-1.4050063 3.431878-.5472119 1.326333.9965553 1.526613 2.5129303.647032 4.5575652z'/%3E%3Cpath d='m89.1984236 10.2864006c.2788489-.85886686-.1592771-1.68556543-.9781967-1.95144465-.8588668-.27884895-1.6990542.13281863-1.9779032.99168548-.2788489.85886687.1592772 1.68556547 1.018144 1.96441437.8588669.2788489 1.659107-.1457884 1.9379559-1.0046552z'/%3E%3Cpath d='m60.6212416.52093243-.2060623 3.8163255 1.1325459-.05740888.405546-1.95503771c.2887915-.93982522.5550627-1.07948431 4.7496772-1.29210979l.587246-.02976756.2764131 5.45299878-.5033537.02551506c-1.8456304.09355521-1.9558114-.00599451-2.03893-.4012935l-.2358248-1.33377161-.7969767.04039884-.2118621 4.53153621.8179498-.04146196.4111511-1.42964778c.1475852-.40699339.3960727-.48267013 2.0319723-.56559407l.5662729-.02870444.2647188 5.22229498-.7550306.0382726c-3.9219645.1988048-4.1160378.1035076-4.4365285-.82646l-.6064771-2.00887294-1.0067075.05103012.1977417 3.90099142 10.2977785-.5219955-.1001287-.7308682-.8652116-.0612771c-.6124716-.0530616-.7414994-.1096021-.7510675-.2983597l-.5432581-10.71723994c-.0095682-.18875765.1518376-.32310111.7149212-.41472476l.8545803-.14845359.0257098-.73724691z'/%3E%3Cpath d='m47.1258804 4.08854414-5.225488 1.72228904.2899106.6783405 1.0097065-.08956953c.2590562-.01904964.6239616.08179213.8558284.24859387l5.4847993 4.09594368-1.3426924 4.3120096c-.3356172 1.0614005-.6229816 1.5983388-1.2151938 1.948307l-.6454724.3896337.170243.7177822 4.3678697-1.4396233-.2899106-.6783405-.7175585.1038355c-.6842429.0707437-.8356599-.3215749-.5263373-1.4627539l.9145971-3.3970187.099723-.0328682 2.119445 1.6673462c1.4635102 1.2202011 1.9870775 1.5340837 1.142159 1.9894536l-.7383981.376039.170243.7177822 5.2254879-1.722289-.2899106-.6783405-1.0296511.0961431c-.2391116.012476-.6239616-.0817921-.8558283-.2485939l-4.9879741-3.72902454 1.5838177-4.92215273c.3555618-1.06797416.5830924-1.58519158 1.1753045-1.93515976l.665417-.39620729-.1702429-.71778224-4.4077589 1.45277053.2899106.6783405.6976139-.09726187c.7041875-.07731726.9154383.29528046.5263372 1.46275394l-1.0559992 3.97429371-.0997231.03286811-2.6028993-2.06078345c-1.5101968-1.16059105-2.0002247-1.57397297-1.1954192-1.94978816l.7782873-.38918618z'/%3E%3Cpath d='m32.9094857 22.1684739c1.0156084 1.6187837 3.2869153 2.0778923 6.2042837.247565l4.5717297-2.8682567-.4439851-.5891275-.7851448.3686376c-.5605182.2525002-.7007328.2660968-.8011776.1059974l-5.7030319-9.0900929c-.1004448-.1600995-.0250973-.35611674.4217196-.7108176l.6735394-.54652597-.3372521-.6560907-4.8385622 3.03566467.4439851.5891276 1.1231326-.5806878c.5315688-.2591284.7007328-.2660968.8011776-.1059973l2.2321064 3.5577663c-.5137801.2479678-1.005239.5315134-1.5033263.8440083-2.3659146 1.4843507-3.588187 3.9617597-2.0591941 6.3988296zm1.5912501-1.4941509c-1.0379294-1.6543613-.5310623-3.3358606.9987772-4.2956663.4802984-.3013344.9585008-.5269812 1.452396-.688101l3.2030727 5.1053946-1.4408954.9040031c-1.5654172.9821269-3.1865815.6109421-4.2133505-1.0256304z'/%3E%3Cpath d='m15.7382835 25.6928111 2.4599336 2.9249836.7869361-.8165094-1.0413407-1.703599c-.4321377-.8831359-.3334134-1.1671403 2.5811648-4.1912491l.4080409-.4233753 3.9313415 3.7889517-.3497494.362893c-1.2824144 1.3306079-1.4308815 1.3333462-1.7618905 1.1018229l-1.084298-.8117007-.5537698.5745807 2.9448862 3.4507029.5683428-.5897012-.6779-1.3241562c-.1707072-.3978493-.0411942-.6230145 1.0954913-1.8024169l.3934681-.4082547 3.7650155 3.6286498-.5246241.5443396c-2.7251306 2.8275417-2.9318893 2.8907622-3.8017614 2.4315492l-1.8164421-1.0506774-.6994988.7257861 2.8124212 2.7105577 7.1552894-7.4241871-.5729377-.4646896-.6730913.5470779c-.483096.3802042-.615895.4272088-.7519799.2960528l-7.726598-7.4467472c-.1360849-.131156-.110225-.3395577.2378814-.7915311l.5218858-.6928068-.4855004-.5554128z'/%3E%3Cpath d='m15.9496584 43.1937127c-1.6140831-.8999109-1.8403386-2.348442-1.1097258-3.9607416l.8361156-1.2409141 4.8055658 2.6792801c-.0920363.1650766-.1840727.3301533-.2475409.4871144-.135052.2853541-.2986722.5788238-.370256.7072167-.8635542 1.8507437-2.2450499 2.2586341-3.9141587 1.3280445zm-7.36646974-1.9672184 4.94064834-.3229579c-.327092 1.8372773.1150443 3.5023435 1.7107857 4.392028 1.6874505.9408159 3.5404837.2909142 5.166459-2.6254406l2.6486012-4.7505402-.6726437-.3028935-.5109859.7008847c-.3699289.4910087-.4863121.5703811-.6513887.4783447l-9.3726875-5.2256186c-.1650767-.0920364-.1933178-.3001288.0277657-.8260376l.3275674-.8031473-.6112861-.4129447-2.66905381 4.787224.67264367.3028935.59279604-.8476196c.3413608-.4828931.486312-.5703811.6513887-.4783447l4.0352079 2.2497771-.7630752 1.4980271-5.07894051.053508-1.6541858-.0086215-1.64642781 2.9530386.68286994.2845516.44540703-.4970136c.31457631-.3054796.49020633-.4479931 1.72853441-.5990975z'/%3E%3Cpath d='m3.76568173 47.4302691-1.6910208 5.4779319.72088161.1566004.4162334-.9923788c.23363509-.5432565.35725733-.6589394.53784849-.6031915l10.25356477 3.165244c.1805912.055748.2514316.2534388.1443848.8137949l-.2155765 1.054321.6837163.2769946 1.6910208-5.4779319-.7208816-.1566005-.4162334.9923788c-.259895.557128-.3572574.6589395-.5378485.6031915l-10.25356484-3.165244c-.18059116-.0557479-.25143154-.2534387-.14438478-.8137948l.21557656-1.054321z'/%3E%3Cpath d='m0 69.8041101 3.75423484.715907.09496497-1.1300167-1.88300692-.6640218c-.89261655-.4121986-.99531201-.6947913-.6435899-4.8800382l.0492411-.5859346 5.44082096.4572388-.04220665.5022296c-.15475774 1.8415087-.26818196 1.9373468-.67105625 1.9667119l-1.35334789.0548588-.0668272.7951969 4.46220959.8175522.06858581-.8161232-1.36160967-.5991303c-.38352957-.2008234-.42520494-.4572141-.28803332-2.0894604l.04748249-.5650083 5.21063234.437894-.0633099.7533445c-.3288602 3.9132058-.4493189 4.0927489-1.4138614 4.2856525l-2.07205137.3316444-.08441331 1.0044592 3.89227958.3271016.8634778-10.2747811-.737694.0012273-.1767342.8491825c-.1347047.5998264-.208035.720108-.3963711.7042805l-10.69330585-.89865c-.18833611-.0158275-.29982463-.1937891-.31512085-.7640732l-.03252814-.8667687-.72714237-.1243301z'/%3E%3Cpath d='m15.3025038 88.5476125.7337242-.0764381-.9089114-4.7437095-.7100134.200187.0246872 1.0216059c-.0029752.8772321-.1767433.9746727-3.9510861 1.69785l-5.07370672.97214-.01975894-.1031242 8.67475046-9.2954867-.7152737-3.7330932-.7100135.2001871.0413603.9970292c-.1456173.6907428-.5931916 1.0330836-1.7688066 1.2583356l-5.07370668.97214c-3.75371798.7192255-3.97972516.6556192-4.30279529-.1377594l-.35073266-.9377524-.73372421.0764381.90495958 4.7230847.71001347-.2001871-.02468725-1.0216058c.01087884-.8359825.19736813-.9786245 3.95108611-1.69785l5.91932453-1.1341633.0197589.1031241-9.55582368 10.2768195.20154121 1.051866 8.06430617-1.5451493c3.753718-.7192255 3.9797252-.6556192 4.3027953.1377594z'/%3E%3Cpath d='m10.8610039 107.4307 3.8195899-1.432127-.4585033-.897685-2.9915875.514021c-.717913-.482221-1.34432979-1.246981-1.73596804-2.013754-1.55700086-3.048389-.16333198-5.9060613 3.07207504-7.5585837 2.992284-1.5283444 6.1256522-.8414262 7.5011622 1.8516293.6495464 1.2717207.7515084 2.2100294.6847519 3.1873524l-2.1359191 1.727623.439399.860282 3.8338639-1.958191-1.0446989-1.35286c-.0796374-.5252597-.3710324-1.6497814-.9441615-2.7718879-1.8722219-3.6655479-5.6439742-5.4176621-9.5900487-3.4021579-3.85256563 1.9677434-4.53223825 5.9463138-2.66956851 9.5931608.53492054 1.047299 1.30421706 2.04563 1.90076981 2.613418z'/%3E%3Cpath d='m22.289138 121.17559 3.0807377-2.261826-.7628743-.839034-1.7685213.926807c-.9096945.372999-1.1865755.255773-4.0120361-2.851762l-.3955645-.435055 4.0397952-3.673098.3390553.372904c1.2432026 1.367315 1.2361508 1.51564.9833169 1.830672l-.8813927 1.028449.5368375.590431 3.6372733-2.711079-.5509649-.605969-1.3659521.589163c-.4082342.144117-.6243749.000047-1.7263045-1.211892l-.3814372-.419517 3.8688808-3.517698.5085829.559356c2.6418057 2.905545 2.691263 3.116021 2.1757227 3.953739l-1.1680991 1.743252.6781105.745809 2.8900073-2.627679-6.9365058-7.628997-.5014366.541068.501531.707681c.3475411.507102.3856919.64271.2458528.769856l-7.9397513 7.219052c-.139839.127145-.3460835.087608-.7741337-.289527l-.6569078-.566409-.5862005.447843z'/%3E%3Cpath d='m37.3449791 127.852215c1.3697453-2.014422.3368127-3.707185-.8822781-5.424951-.9592983-1.46493-1.9554071-2.726336-.9753307-4.167689.5785993-.850919 1.7587476-1.242014 3.0611752-.356403.6077996.413286 1.2253282 1.036345 1.6789288 1.751098l-.9731063 2.588862.7293595.495943 2.3498217-3.455775-1.0683307-.370904c-.4730454-.499421-.9697071-.96411-1.9539946-1.608001-2.570817-1.671892-4.639375-.945278-5.6312595.513441-1.3107046 1.927593-.2888871 3.562008.8433752 5.220733 1.0634925 1.535779 2.0130618 2.790934.9503283 4.353847-.63764.937748-2.0866035 1.4254-3.5800539.4099-.6890706-.443152-1.3920416-1.27668-1.7761794-1.9442l.8362598-2.910468-.7293595-.495942-1.8587307 3.256409c.6960274.95578 1.4747118 1.790001 2.7194849 2.611013 2.622914 1.707318 5.149924 1.165463 6.25989-.466913z'/%3E%3Cpath d='m53.8228993 130.451903c-.236048.871602.242412 1.67563 1.0734745 1.900699.8716022.236048 1.6904105-.216652 1.9264585-1.088255.2360481-.871602-.2424119-1.67563-1.1140141-1.911678-.8716021-.236048-1.6498708.227632-1.8859189 1.099234z'/%3E%3C/g%3E%3C/svg%3E");
    right: -6.6%;
    bottom: -12.9%;
    background-repeat: no-repeat;
    width: clamp(5rem, 8.4vw, 14rem);
    height: clamp(5rem, 8.4vw, 14rem);
    background-size: 100%;
    animation: rotate 12s linear infinite;
    transition: transform ease;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transition: linear all .3s;

    @media #{$phone} {
      width: clamp(7rem, 18vw, 14rem);
      height: clamp(7rem, 18vw, 14rem);
      right: -20%;
      bottom: -20%;
      opacity: .25;
    }
  }
}

.billboard__inner {
  position: relative;

  .icon {
    position: absolute;
    right: 0.8%;
    bottom: 10%;
    height: 140px;
    width: clamp(2rem, 8.4vw, 14rem);
  }
}

.billboard__intro {
  width: 100%;
  margin-left: 1.4vw;
}

.billboard__bio {
  max-width: 390px;
  text-align: left;
  font-family: var(--ff-default);
  font-size: clamp(1.125rem, 1.43vw, 1.25rem);
  line-height: 1.36;
  letter-spacing: .01px;

  p {
    margin-bottom: 0;
  }
}

.billboard__description {
  margin-bottom: 2vw;
  line-height: 1.5;
}

.billboard__profile {
  overflow: hidden;
  margin-bottom: 25px;
  max-width: 50px;
  overflow: hidden;
  filter: drop-shadow(0 13px 25px rgba($c-black, 0.35));

  .gatsby-image-wrapper-constrained {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    border-radius: 50%;
  }
}


.billBoard__mouse {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: ease;
  background-size: cover;
  filter: saturate(1);
  background-image: url("../images/gradient.svg");
  opacity: .8;
  z-index: -1;

  @media #{$phone} {
    display: none;
  }
}