.brief {
  position: relative;
  z-index: 2;
  padding-top: clamp(5rem, 10vw, 10rem);
  padding-bottom: clamp(5rem, 10vw, 10rem);
  text-align: center;

  @media #{$tablet} {
    .heading {
      letter-spacing: -0.4vw;
      font-size: clamp(2.9rem, 5vw, 3.75rem);
    }
  }
}