.heading {
   font-size: clamp(2.4rem, 14vw, 10.625rem);
   font-family: var(--ff-default);
   font-weight: 400;
   line-height: 1;
   letter-spacing: clamp(-.75rem, -.8vw, -.2rem);
   margin-bottom: 30px; 

   @media #{$phone} {
      margin-bottom: 15px;
   }
}

.heading--light {
   font-family: var(--ff-defaultLight);
}

.heading--one {
   font-size: clamp(3.1rem, 8vw, 8.125rem);
   line-height: 0.85;
   letter-spacing: -.6vw;
}

.heading--two {
   font-size: clamp(2.75rem, 5.5vw,  5.5rem);
   letter-spacing: -0.35vw;
   line-height: 1.05;
   span {
      font-size: clamp(2.25rem, 5.5vw,  4.8rem);
   }

   @media #{$phone} {
      letter-spacing:  -0.5vw;
   }
}

.heading--three {
   font-size: clamp(2.2rem, 5vw,  3.75rem);
   letter-spacing: clamp(-.75rem, -.22vw, -.1rem);
   line-height: 1.02;
   margin-bottom: 30px;   
}

.paragraph {
   font-size: clamp(1.25rem, 2vw, 1.625rem);
   font-family: var(--ff-default);
   font-weight: 400;
   line-height: 1.34;
   letter-spacing: -.5px; 
}