.intro {
  z-index: 9999;
  position: relative;
  padding-top: clamp(4rem, 7vw, 6.25rem);
  padding-bottom: clamp(4rem, 7vw, 6.25rem);
}

.intro__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro__title {
  font-family: var(--sansReg);
}

.intro__content {

  strong {
    display: block;
  }
  // font-size: clamp(1.8rem, 4vw, 3.75rem);
  // font-family: var(--sans);
  // padding: 0 30px;
  // max-width: 960px;
  // margin: 0 auto 20px;
  // letter-spacing: -0.2vw;
  // line-height: 1.15;

  // @media #{$phone} {
  //   width: 100%;
  // }
}
.intro__link {
  text-decoration: none;
  color: $c-text;
  font-size: clamp(1rem, 3vw, 1.25rem);
  letter-spacing: -0.2px;
  line-height: 1;
  &:hover,
  &:focus {
    color: var(--c-brandHome);
    text-decoration: underline;
  }
}