.intro {
    z-index: 1;
    position: relative;
    .siteContainer {
        padding-top: clamp(4rem, 7vw, 6.25rem);
        padding-bottom: clamp(4rem, 7vw, 6.25rem);
        background-color: $c-black;
        position: relative;
        box-shadow: 0 40px 50px rgba($c-black, .2);
        border-radius: 0 20px 20px 0;
        left: -20px;
        &:before {
            @include after-element;
            background-color: $c-black;
            right: 100%;
            width: calc(100vw * (740 / 1240));
            top: 0;
            height: 100%;
            box-shadow: 0 40px 50px rgba($c-black, .2);
        }
    }

}

.intro__content {
    font-size: clamp(1.2rem, 3vw, 2.375rem);
    line-height: 1.2;
    color: $c-white;
    font-family: var(--ff-defaultLight);
    max-width: 820px;
    margin-left: 20px;
    padding-right: 20px;

    p:last-child {
        margin-bottom: 0;
    }

    a {
        color: rgba($c-white, .65);

        &:hover, &:focus {
            color: $c-brand;
        }
    }

    @media #{$phone} {
        width: 100%;
    }
}

.intro__subTitle {
    color: $c-white;
    font-size: clamp(0.9rem, 1.2vw, 1.25rem);

    @media #{$phone} {
        margin-bottom: 10px;
    }
}
