.page {
  font-size: 1.3125rem;

  line-height: 1.66;

  @media #{$phone} {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.pageHeader {
  padding: 10vw 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background-image: url(../images/pagebanner__bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-80deg);
    filter: blur(15px) saturate(1);

    @media #{$phone} {
      opacity: 0.6;
    }
  }

  @media #{$tablet} {
    padding: 10vw 0 8vw;
  }

  @media #{$phone} {
    padding: 24vw 0 10vw;
  }
}

.pageHeader__title {
  --wt: 400;
  --fsz: clamp(3rem, 11vw, 7.5rem);
  --lh: 0.95;
  --font: var(--wt) var(--fsz) / var(--lh) var(--sansBold);
  font: var(--font);
  letter-spacing: -0.5vw;
  text-align: center;
}

.pageHeader__alert {
  max-width: 560px;
  font-size: 0.8125rem;
  line-height: 1.33;
  letter-spacing: normal;
  margin: 0 auto;
  // border: 1px solid #000;
  padding: 15px;
  border-radius: 17px;
  margin-top: 60px;
  margin-bottom: -60px;
  box-shadow: 0 5px 30px rgba($c-black, 0.15);
  background-image: linear-gradient(
    to bottom,
    #ffc900 0%,
    rgba($c-black, 100) 100%
  );
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $c-white;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    border-radius: 17px;
    z-index: -1;
  }
  @media #{$phone} {
    margin-top: 30px;
    font-size: 0.75rem;
    margin-bottom: -15px;
  }
  strong {
    display: block;
  }
}

.pageBanner {
  margin-bottom: 6vw;
  @media #{$phone} {
    margin-bottom: 12vw;
  }
}

.pageImage {
  width: 100%;
  margin-bottom: 3
  0px;
}

.pageVideo {

  video {
    width: 100%;
  }
}

.pageImage--large {
  margin-bottom: 40px;

  @media #{$phone} {
    margin-bottom: 20px;
  }
}

.pageSection {
  margin-bottom: 6vw;

  @media #{$phone} {
    margin-bottom: 12vw;
  }
}

.pageSection__title {
  font-size: clamp(1.8rem, 3vw, 2.82rem);
  font-family: $ff-defaultBold;
  letter-spacing: -1.6px;
  margin-bottom: 20px;

  @media #{$phone} {
    letter-spacing: -1.2px;
  }
}
