.projectPreview__item {
    padding: 20vh 0;
}

.projectPreview__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectPreview__titles {
    width: 50%;
}

.projectPreview__content {
    width: 50%;
}