//FontSize
// @function calculateRem($size) {
//   $remSize: $size / 16px;
//   @return $remSize * 1rem;
// }
@use "sass:list";
@use "sass:math";

@function calculateRem($size) {
  $remSize: math.div($size, 16px); 
  @return $remSize * 1rem;
}

@mixin fsz($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


// @mixin fsz($size) {
//   font-size: $size;
//   font-size: calculateRem($size);
// }

@mixin absolute-cover {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin after-element {
  content: '';
  position: absolute;
  display: block;
}

@mixin easeout {
  -webkit-transition: ease-out all 0.20s;
  -moz-transition: ease-out all 0.20s;
  -ms-transition: ease-out all 0.20s;
  -o-transition: ease-out all 0.20s;
  transition: ease-out all 0.20s;
}

@mixin easein {
  -webkit-transition: ease-in all 0.20s;
  -moz-transition: ease-in all 0.20s;
  -ms-transition: ease-in all 0.20s;
  -o-transition: ease-in all 0.20s;
  transition: ease-in all 0.20s;
}

// Font face mixin
@mixin fontFace($font-family, $font-name, $file-path) {
  @font-face {
    font: {
      family: $font-family;
      weight: normal;
      style: normal;
    }
    src: url('#{$file-path+$font-name}.eot');
    src: local($font-family), local($font-family),
    url('#{$file-path+$font-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path+$font-name}.woff') format('woff'),
    url('#{$file-path+$font-name}.ttf') format('truetype');
  }
}