.page-wrapper {
    width: 100%;
}

.siteContainer {
    margin: 0 auto;
    max-width: $container;
    padding: 0 20px;
    position: relative;
    width: 100%;

    &--billboard {
        max-width: 940px;
    }
    &--heading {
        max-width: 810px;
    }
}

.siteContainer--large {
    max-width: 100%;
    padding: 0 clamp(1.25rem, 3vw, 3.75rem);
}

.siteContainer--medium {
    max-width: $containerMedium;
}

.siteContainer--snippet {
    max-width: 1220px;
}

.siteContainer--small {
    max-width: 840px;
}