.dwt {
  margin-top: 0;
  margin-bottom: clamp(4rem, 7vw, 4rem);
}

.dwt__header {
  text-align: center;
  margin-bottom: -5%;
  position: relative;
  z-index: 2;
}

.dwt__headerImage {
  width: clamp(10rem, 18vw, 18.5rem);
  margin: 0 auto 20px;

  @media #{$phone} {
    margin-bottom: 10px;
  }
}

.dwt__wrap {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 20%;
  z-index: 0;
}

.dwt__wrapInner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;

  .paragraph {
    width: 85%;
    margin-bottom: 30px;

    @media #{$phone} {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.dwt__content {
  width: 50%;
  text-align: left;
  margin-top: -8%;
  position: relative;

  @media #{$tablet} {
    margin-top: 0;
  }

  @media #{$phone} {
    width: 100%;
    text-align: center;
  }
}

.dwt__image {
  width: 40%;
  position: relative;
  transform: rotate(10deg);

  @media #{$phone} {
    width: 60%;
    max-width: 200px;
    margin: 0 auto;
  }
}
