.lovebit {
   padding-top: clamp(5rem, 12vw, 12.5rem);
   border-bottom: 1px solid #D5DBE2;

   .siteContainer {
      position: relative;
      z-index: 2;
      text-align: center;
   }
}

.lovebit__header {
   max-width: 1150px;
   margin: 0 auto;
}

.lovebit__image {
   max-width: 1450px;
   margin-top: -2vw;
}